@use '../../abstracts/mixins/effect' as *;
@use '../../abstracts/mixins/respond' as *;
@use '../../abstracts/mixins/flex' as *;

.wrap-filter-box {
    background-color: white;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @include respond(tablet) {
        position: absolute;
        width: 25%;
        left: -100%;
    }

    @include respond(phone) {
        position: absolute;
        width: 25%;
        left: -100%;
    }
    
    button {
        width: 100%;
        background-color: green;
        outline: none;
        padding: 0.5rem;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 2px;
    }
}

.wrap-filter-box.open {
    position: absolute;
    z-index: 99999999999999;
    left: 3%;
    top: 18%;
    width: 250px;
    box-shadow: 0 10px 20px rgba(128, 128, 128, 0.714);

    @include respond(phone) {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}


.box-fillter-component {
    @include flex-row-center-center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;

    div {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.wrap-filter-box hr {
    width: 100%;
}

.box-fillter-component h3 {
    text-align: left;
    width: 100%;
}

.box-filter-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    p {
        width: 100%;
    }

    .price-about-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        p {
            width: 30%;
            text-align: center;
        }

        input {
            width: 50%;
            padding: 0.5rem;
            outline: none;
            border: 1px solid rgba(128, 128, 128, 0.714);
            border-radius: 2px;
        }
    }
}

.choose-oxy {
    width: 100%;
}

.box-filter-categoires {
    @include flex-column-center-center;
    width: 100%;
    color: black;
    gap: 0.5rem;

    p {width: 100%;}

    label {
        width: 100%;
        display: flex;
        justify-content: left;
        padding: 0.2rem;
        gap: 0.5rem;
    }

    div {
        @include flex-column-center-center;
        width: 100%;
        gap: 0.1em;
    }
}