@use '../../abstracts/mixins/effect' as *;
@use '../../abstracts/mixins/respond' as *;
@use '../../abstracts/mixins/flex' as *;


.wrap-comment {
    width: 80dvw;
    height: 80dvh;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    @include respond(tablet) {
        width: 90dvw;
    }
    @include respond(phone) {
        width: 95dvw;
    }

    .-title-comment {
        width: 100%;
        @include flex-row-center-center;
        gap: 0.5rem;
        p {
            font-size: 1.2rem;
            width: 100%;
        }
    }
    
    hr {
        width: 100%;
    }

    .-w-your-comment {
        width: 100%;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.164);
        display: flex;
        gap: 1rem;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 100%;
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            gap: 1rem;

            textarea {
                border: 1px solid rgba(0, 0, 0, 0.185);
                outline: none;
                padding: 0.5rem;
                border-radius: 5px;
            }

            button {
                width: 100px;
                padding: 0.5rem;
                cursor: pointer;
                border: none;
                background-color: rgb(0, 130, 0);
                color: white;
                border-radius: 5px;
            }
        }
    }

    .-around-comment {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid rgba(74, 123, 0, 0.275);
        padding: 0.5rem;
        border-radius: 5px;
    }

    .-wrap-object-comment {
        @include flex-row-center-center;
        gap: 1rem;
        width: 100%;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 100%;
        }

        div {
            padding: 0.5rem;
            background-color: rgb(210, 232, 252);
            border-radius: 10px;
            width: 100%;

            h3 {
                font-size: 1rem;
            }

            .-time-comment {
                font-size: 0.8rem;
                color: rgb(99, 99, 99);
            }
        }
    }
}