@use '../../abstracts/mixins/respond' as *;

.wrap-user-order {
    border: 1px solid rgba(66, 63, 63, 0.452);
    height: 90%;
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem;

    .-user-order-list {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: auto;

        .-user-order-item {
            padding: 0.5rem;
            display: flex;
            gap: 0.5rem;

            @include respond(tablet) {
                width: 750px;
            }
            @include respond(phone) {
                width: 750px;
            }

            img {
                border: 1px solid black;
                width: 150px;
                height: 150px;
                object-fit: cover;
            }

            .-order-item-info {
                width: 100%;
                height: 150px;
                padding: 0.5rem;
                border-radius: 2px;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: rgb(211, 229, 245);

                .-order-item-detail {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0.3rem;
                    font-size: 0.8rem;

                    div {
                        width: 30%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                    }

                    span {
                        color: rgb(8, 141, 61);
                        font-size: 0.9rem;
                    }

                    button {
                        padding: 0.3rem;
                        border: none;
                        background-color: rgb(65, 61, 61);
                        color: white;
                        cursor: pointer;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}