@use '../../abstracts/mixins/effect' as *;
@use '../../abstracts/mixins/respond' as *;
@use '../../abstracts/mixins/flex' as *;

.wrap-flash-sale {
    width: 100dvw;
    height: auto;
    @include flex-column-center-center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(240, 240, 240);
}

.title-flash-sale {
    width: 80dvw;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: white;
    padding: 0.5rem 1rem;

    @include respond(tablet) {
        width: 95dvw;
    }
    @include respond(phone) {
        width: 95dvw;
    }
}

.title-flash-sale h1 {
    color: rgb(0, 136, 77);
    font-size: 3rem;

    @include respond(tablet) {
        font-size: 2.5rem;
    }
    @include respond(phone) {
        font-size: 1.5rem;
    }
}

.line-hot-product {
    border: 2px solid green;
    width: 80dvw;

    @include respond(tablet) {
        width: 95dvw;
    }
    @include respond(phone) {
        width: 95dvw;
    }
}

.title-flash-sale svg {
    color: rgb(0, 136, 77);
    font-size: 2.5rem;

    @include respond(tablet) {
        font-size: 2.5rem;
    }
    @include respond(phone) {
        font-size: 1.5rem;
    }
}

.swiper-slide-flash-sale {
    width: 200px !important;
    height: 250px !important;
    cursor: default;
}

.box-product {
    cursor: pointer;
    border: 3px solid rgba(128, 128, 128, 0.526);
    @include flex-column-center-center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;

    .-add-cart-shop {
        position: absolute;
        background-color: white;
        padding: 0.5rem;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        right: 2%;
        top: 2%;
        @include flex-row-center-center;
        border: 2px solid white;

        svg {
            color: green;
        }
    }

    .-add-flash-sale {
        position: absolute;
        background-color: rgb(255, 77, 0);
        color: white;
        padding: 0.2rem;
        border-radius: 5px;
        font-size: 0.8rem;
        left: 2%;
        top: 2%;
        @include flex-row-center-center;
    }
}

.box-product:hover {
    border: 3px solid rgba(0, 0, 178, 0.536);
}

.img-product {
    width: 100%;
    height: 75%;
    overflow: hidden;
    object-fit: cover;
}

.name-product {
    font-size: 1rem;
    white-space: nowrap;  
    overflow: hidden;         
    text-overflow: ellipsis;
    width: 100%;
    padding: 0 0.5rem;
    text-align: center;

    @include respond(phone) {
        font-size: 0.7rem;
    }
}

.info-product {
    width: 100%;
    height: 25%;
    @include flex-column-center-center; 
    background-color: white;
}

.down-price-product {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    gap: 0.2rem;
    color: rgb(208, 0, 62);
    width: 100%;
    justify-content: center;


    @include respond(phone) {
        font-size: 0.6rem;
    }
}

.price-product {
    color: rgb(193, 90, 0);
    font-size: 1rem;
    width: 100%;
    text-align: center;

    @include respond(phone) {
        font-size: 0.7rem;
    }
}