@use '../../abstracts/mixins/flex' as *;
@use '../../abstracts/mixins/respond' as *;
@use '../../abstracts/mixins/effect' as *;
@use '../../abstracts/mixins/sevcies' as *;

.wrap-slide-show {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('src/assets/image/bg_2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.wrap-swiper {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.5px);
    width: 100dvw;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
                            
.wrap-swiper h1 {
    color: #f8f8f8;
    font-family: "Dancing Script", cursive;
    width: auto;
    text-align: center;
    font-size: 4rem;
    
    @include bouncing-effect(4s, 20px);

    @include respond(tablet) {
        font-size: 3rem;
    }
    @include respond(phone) {
        font-size: 1.8rem;
        @include bouncing-effect(0s, 0px);
    }
}

.home-swiper {
    width: 100%;
    padding: 20px !important;
    @include flex-column-center-center;
    @include bouncing-effect(4s, 20px);
}

.home-swiper-slide {
    background-position: center;
    background-size: cover;
    width: 484px !important;
    height: 484px !important;
    transition: 0.2s ease;

    @include respond(tablet) {
        width: 75dvw;
        height: 60dvh;
    }
    @include respond(phone) {
        width: 75dvw !important;
        height: 60dvh !important;
    }
}

.home-swiper-slide img {
    border: 3px solid rgba(255, 255, 255, 0.373);
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
