@use '../../abstracts/mixins/flex' as *;
@use '../../abstracts/mixins/respond' as *;
@use '../../abstracts/mixins/effect' as *;
@use '../../abstracts/mixins/sevcies' as *;

.wrap-tips {
    width: 100dvw;
    height: auto;
    align-items: center;
}

.tips {
    max-height: auto;
    min-height: 100dvh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.wrap-tips h1 {
    font-family: "Dancing Script", cursive;
    width: 100dvw;
    height: 25dvh;
    text-align: center;
    font-size: 5rem;
    @include flex-row-center-center;
    align-items: center;

    @include respond(tablet) {
        font-size: 4rem;
        height: 20dvh;
    }
    @include respond(phone) {
        font-size: 3.5rem;
        height: 15dvh;
    }
}

.tips-ul {
    width: 100%;
    @include flex-row-center-center;
    align-items: start;
    gap: 2rem;
    margin-bottom: 2rem;

    @include respond(phone) {
        @include flex-column-center-center;
        align-items: center;
    }
}

.tips-ul li {
    @include flex-column-space-between-center;
    width: 25%;
    height: 50dvh;
    gap: 1.5rem;

    @include respond(phone) {
        width: 70%;
        height: auto;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        gap: 1rem;
    }

    img {
        box-shadow: 0 10px 20px rgba(27, 27, 27, 0.3);
        border-radius: 20px;
        width: 100%;
        height: 250px;
        object-fit: cover;
        cursor: pointer;

        @include respond(tablet){
            height: 200px;
        }
    }
}

.tips-text {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tips-text h2 {
    color: rgb(52, 52, 52);

    @include respond(tablet) {
        font-size: 1.2rem;
    }
}

.nextPage_btn {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 100%;

    @include respond(phone) {
        width: 100%;
    }
}

.nextPage_btn a {
    @include flex-row-center-center;
    align-items: center;
    padding: 0.6rem;
    gap: 0.5rem;
    width: 120px;
    background-color: rgba(27, 27, 27, 0.763);
    box-shadow: 0 5px 20px rgba(165, 165, 165, 0.855);
    border-radius: 5rem;
    transition: 0.3s ease-in-out;
}

.nextPage_btn p{
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

.nextPage_btn a:hover p{
    color: black;
    @include text-trans(0.5s, -30px);
}

.nextPage_btn a:hover , .nextPage_btn a:hover svg{
    color: black;
}

.nextPage_btn a:hover{
    background-color: rgba(255, 255, 255, 0.855);
}