@use '../abstracts/mixins/flex' as *;
@use '../abstracts/mixins/respond' as *;
@use '../abstracts/mixins/effect' as *;
@use '../abstracts/mixins/sevcies' as *;

.footer {
    width: 100dvw;
    height: auto;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.wrap-footer-contents {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
}

.footer-contents {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    height: auto;

    @include respond(phone) {
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }
}

.footer-item {
    width: 200px;

    @include respond(phone) {
        width: 150px;
    }
}

.footer-item li {
    padding: 0.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
}

.footer-item li a {
    color: rgb(166, 166, 166);
    cursor: pointer;
}

.footer-item li h2 {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.footer-item li a:hover {
    color: white;
}

.wrap-logo-footer {
    width: 200px;

    @include respond(phone) {
       width: 150px;
       height: 150px;
    }
}

.wrap-copy-right {
    color: orange;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.wrap-footer-map {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.footer-item li svg {
    color: rgb(154, 154, 154);
}