@use '../abstracts/mixins/effect' as *;
@use '../abstracts/mixins/respond' as *;
@use '../abstracts/mixins/flex' as *;
@use '../abstracts/mixins/sevcies' as *;

.header {
    width: 100dvw;
    height: 15dvh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.99);
    backdrop-filter: blur(5px);
}

.logo {
    height: 100%;
    padding: 1rem;

    img {
        border-radius: 100%;
        height: 100%;
        border: 1px solid white;
    }
}

.wrap-header-contents {
    width: 100%;
    height: 100%;
    @include flex-row-space-between-center;
}

.nav-ul {
    height: inherit;
    @include flex-row-center-center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;

    @include respond(tablet) {
        padding: 0.5rem;
        position: absolute;
        right: 0;
        width: 230px;
        max-height: 85dvh;
        top: -1000%;
        height: auto;
        overflow: auto;
        flex-direction: column;
        justify-content: left;
        justify-content: start;
        background-color: rgba(27, 27, 27, 0.99);
        gap: 1rem;
        transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: -100;
        
        #search-li {
            order: -1;
        }
        li{
            width: 100%;
        }
        li a {
            width: auto;
        }
    }

    @include respond(phone) {
        padding: 2rem 1rem;
        position: absolute;
        top: -1000%;
        width: 100%;
        height: auto;
        max-height: 85dvh;
        overflow: auto;
        gap: 1rem;
        flex-direction: column;
        justify-content: start;
        background-color: rgba(27, 27, 27, 0.99);
        transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: -100;

        li {
            width: 100%;
        }
        li a {
            width: auto;
        }
        #search-li {
            order: -1;
        }
    }
}

.nav-ul.open {
    z-index: 100;
    top: 100%;
}

.nav-ul li ul {
    backdrop-filter: blur(5px);
    @include dropdown-menu;
}

.nav-ul li ul li {
    height: auto;
}

.nav-ul li ul li a{
    padding: 0.3rem;
}

.nav-ul li:hover > ul {
    display: block;
}

.instruct svg{
    transition: .3s;
}

.nav-ul li {
    height: 100%;
    position: relative;
    padding: 0.5rem;
}

.nav-ul li a {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-ul li a svg {
    padding: 0.3rem;
}

.nav-ul li a {
    @include underline-animation(white, 0.15rem);
}

#login-btn-li {
    align-items: center;
    cursor: pointer;

    a {
        border: 2px solid white;
        border-radius: 50px;
        height: 40px;
        padding: 0.5rem 0.7rem;
        background-color: white;
        color: black;
        font-weight: bold;
        transition: 0.5s;
        font-size: 0.9rem;
        
        &::before {
            content: none;
        }

        @include respond(phone) {
            @include underline-animation(white, 0.15rem);
            background-color: transparent;
            border: none;
            color: white;
            padding: 0;
            height: auto;
            font-weight: normal;
        }
        @include respond(tablet) {
            @include underline-animation(white, 0.15rem);
            background-color: transparent;
            border: none;
            color: white;
            padding: 0;
            height: auto;
            font-weight: normal;
        }

        svg {
            display: none;

            @include respond(phone) {
                display: flex;
            }
            @include respond(tablet) {
                display: flex;
            }
        }
    }

    a:hover {
        background-color: black;
        color: white;
    }
}

#search-li {
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: rgba(77, 77, 77, 0.716);
    border-radius: 20px;
    @include flex-row-center-center;
    align-items: center;
    padding: 0.4rem 0.7rem;
    
    @include respond(phone) {
        width: 100%;
    }
}

.search-bar input {
    background-color: transparent;
    outline: none;
    border: none;
    width: inherit;
    color: rgba(255, 255, 255, 0.722);
}

.search-bar svg {
    color: rgba(255, 255, 255, 0.625);
    transition: .3s;
}

.search-bar svg:hover {
    color: rgba(255, 255, 255, 0.868);
}

.wrap-login-btn {
    @include flex-row-center-center;
    align-items: center;
    background-color: transparent;
    padding: 1rem;
        
    @include respond(tablet) {
        display: none;
    }        
    @include respond(phone) {
        display: none;
    }
}

.login-btn {
    @include button-base;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: .3s;

    a {
        color: black;
    }
}

.login-btn:hover {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(27, 27, 27, 0.99);
}

.login-btn:hover a {
    color: white;
    @include text-trans(0.6s, 25px);
}

.sidebar-btn {
    display: none;
    align-items: center;
    padding: 1rem;

    svg{
        color: white;
    }

    @include respond(tablet) {
        @include flex-column-center-center;
    }
    @include respond(phone) {
        @include flex-column-center-center;
    }
}

.sidebar-ul li {
    padding: 1rem;
}

.wrap-account-menu-2 {
    height: 100%;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    color: white;
    cursor: pointer;

    @include respond(tablet) {
        flex-direction: row-reverse;
    }
    @include respond(phone) {
        flex-direction: row-reverse;
    }

    div {
        display: flex;
        flex-direction: column;

        a {
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.532);
        }
    }
    
    img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.wrap-account-menu {
    padding: 0 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    cursor: pointer;
    display: none;

    @include respond(tablet) {
        display: none !important;
    }
    @include respond(phone) {
        display: none !important;
    }

    div {
        display: flex;
        flex-direction: column;

        a {
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.532);
        }
    }
    
    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
}

.wrap-dropdown-account-menu {
    display: none;
}

.drop-down-menu {
    display: none;
}
